cpuLimit: 250m
dashboard:
  enabled: true
  auth: {}
memoryLimit: 128Mi
metrics:
  prometheus:
    enabled: ${prometheus_enabled}
replicas: 3
rbac:
  enabled: true
service:
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/port: 8080
ssl:
  enabled: ${ssl_enabled}
  enforced: ${ssl_enforced}
  defaultCert: ${ssl_cert_base64}
  defaultKey: ${ssl_key_base64}
# tracing:
  # enabled: false
  # serviceName: traefik
  # jaeger:
  #   localAgentHostPort: "127.0.0.1:6831"
  #   samplingServerURL: http://localhost:5778/sampling
  #   samplingType: const
  #   samplingParam: 1.0
